{% load static %}


<!doctype html>
<html>
    <head>
        <title>My age on the planet Earth</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'age/css/styles.css' %}" />
        <link rel="icon" type="image/x-icon" href="{% static 'age/favicon.png' %}">
    </head>

    <body>
        <form action="{% url 'age' %}" method="post">
            {% csrf_token %}
            <div class="logout">
                <button type="submit" class="btn btn-danger">Logout</button>
            </div>
        </form>

        <div class="content">
            <span class="timer">00.0000000000</span>
        </div>
        
        <div class="progress">
            <div class="left">0</div>
            <div class="middle">
                <div class="percent">0%</div>
                <div class="progress_bar">
                    <div class="progress_done"></div>
                </div>
            </div>
            <div class="right">0</div>
        </div>

        <div class="footer">
            Copyright© «My Age» 2022–2022. All rights reserved.
        </div>
	    <script src="{% static 'age/js/first.js' %}"></script>
    </body>
</html>
