{% load static %}


<!doctype html>
<html>
    <head>
        <title>My age on the planet Earth</title>
        <link rel="stylesheet" href="{% static 'age/css/styles.css' %}" />
        <link rel="icon" href="{% static 'age/favicon.ico' %">
    </head>

    <body>
        <div class="content">
            <span class="timer">00.0000000000</span>
        </div>
        
        <div class="progress">
            <div class="left">0</div>
            <div class="middle">
                <div class="progress_bar">
                    <div class="progress_done"></div>
                </div>
            </div>
            <div class="right">0</div>
        </div>

        <div class="footer">
            Copyright© «My Age» 2022–2022. All rights reserved.
        </div>
	    <script src="{% static 'age/js/first.js' %}"></script>
    </body>
</html>

<!-- 2022<progress value="0" max="100"></progress>2023 -->