@font-face {
	src: url('/static/fonts/RobotoCondensed-Regular.ttf');
	font-family:'RobotoCondensed';
}

body {
	min-height: 100%;
	background: #fff;
	min-width: 320px;
	font-size: 15px;
	color: #112b46;
}


.content {
	width: 100%;
	margin-top: 10%;
	box-sizing: border-box;
	display: flex;
	align-items: center;
}

.timer {
	font-family: "Courier New", sans-serif;
	font-size: 100px;
	width: 100%;
	padding: 10px 0;
	margin: 10px 0;
	display: block;
}

#age {
	text-align: right;
	width: 50%;
}

#decimal {
	text-align: left;
}

.footer {
	bottom: 0;
	margin: 10px 0;
	position: fixed;
	text-align: center;
	width: 100%;
	font-family: "RobotoCondensed", sans-serif;
	font-weight: bold;
}
