@font-face {
	src: url('/static/fonts/RobotoCondensed-Regular.ttf');
	font-family:'RobotoCondensed';
}

@font-face {
	src: url('/static/fonts/Dosis-Light.ttf');
	font-family:'Dosis';
}

@font-face {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url(https://fonts.gstatic.com/s/montserrat/v23/JTUHjIg1_i6t8kCHKm4532VJOt5-QNFgpCtr6Hw5aXo.woff2) format('woff2');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

body {
	min-height: 100%;
	background: rgb(252, 249, 249);
	min-width: 320px;
	font-size: 15px;
	color: #112b46;
}
.content {
	width: 100%;
	margin-top: 10%;
	box-sizing: border-box;
	display: flex;
	align-items: center;
}
.timer {
	font-family: "Courier New", sans-serif;
	font-size: 100px;
	width: 100%;	
	padding: 10px 0;
	margin: 10px 0;
	text-align: center;
	display: block;
	user-select: none;
}
.progress {
	font-family: "Dosis", sans-serif;
	font-size: 65px;
	width: 100%;
	margin-top: 10%;
	display: table;
}
.left {
	text-align: right;
	padding-right: 50px;
	width: 28%;
	display: table-cell;
	color: #2855b4;
}
.right {
	width: 28%;
	padding-left: 50px;
	display: table-cell;
	color: #21ce5a;
}
.middle {
	display: table-cell;
	vertical-align: middle;
    height: 100%;
}
.another_one{
	height: 100%;
}
.percent {
	font-size: 15px;
	font-weight: 800;
	text-align: center;
	width: 100%;
	padding-bottom: 1%;
}
.progress_bar {
	background-color: #d4d1d1;
	border-radius: 20px;
	position: relative;
	height: 15px;
	box-shadow: 0px 2px 3px #0a4b20;
	width: 100%;
}
.progress_done {
	font-family: 'Montserrat', sans-serif;
	background: linear-gradient(to left, #21ce5a, #2855b4);
	box-shadow: 0px 2px 3px #0b4b20;
	border-radius: 20px;
	display: flex;
	height: 100%;
	width: 0;
	opacity: 0;
	transition: 2s ease 0.3s;
}
.footer {
	bottom: 0;
	margin: 10px 0;
	position: fixed;
	text-align: center;
	width: 100%;
	font-family: "RobotoCondensed", sans-serif;
	font-weight: bold;
	user-select: none;
}
